/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: PT Sans Narrow, Helvetica;
}

.main-bg-color {
    background-color: #F7F7F7;
}

